<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"
        href="webjars/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/iconfont.css}" href="css/iconfont.css"/>
  <link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css"/>
  <link rel="stylesheet" th:href="@{/css/reset.css}" href="css/reset.css"/>


  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" src="webjars/jquery/3.4.1/jquery.min.js"></script>
  <script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}" src="webjars/popper.js/1.14.3/popper.min.js"></script>
  <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="navbar">
  <a class="navbar-brand" th:href="@{/}" href="#">问答社区</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <form class="form-inline my-2 my-lg-0 ml-5  mr-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="搜索问题" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
    </form>

    <ul class="navbar-nav mr-5">
      <li class="nav-item">
        <a class="nav-link" href="/publish" th:if="${user} ne null">提问</a>
      </li>
      <li class="nav-item dropdown" th:if="${user} ne null">
        <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           th:text="${user.name}"
           aria-haspopup="true" aria-expanded="false">
          我
        </a>
        <div class="dropdown-menu" style="min-width:75px" >
          <a class="dropdown-item iconfont text-center" th:href="@{/profile}"> &#xe628; 个人中心</a>
<!--          <div class="dropdown-divider"></div>-->
          <a class="dropdown-item iconfont text-center" th:href="@{/logout}" href="/logout" style="color: red;"> &#xe658; 退出登录</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           th:if="${user} eq null"
           href="/githubAuth">登录</a>
      </li>
    </ul>
  </div>
</nav>
</body>

</html>