<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>个人中心 - 问答社区</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"
        href="webjars/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/iconfont.css}" href="css/iconfont.css"/>
  <link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css"/>
  <link rel="stylesheet" th:href="@{/css/reset.css}" href="css/reset.css"/>

  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" src="webjars/jquery/3.4.1/jquery.min.js"></script>
  <script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}" src="webjars/popper.js/1.14.3/popper.min.js"></script>
  <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"
          src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-gainsboro">

<div th:replace="~{header :: navbar}"></div>

<div class="container mt-3 pt-3 bg-white" style="min-height: 700px">
  <div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
      <h2><span>我的提问</span></h2>
      <hr>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!--问题列表-->
        <div th:if="${page == null}" class="text-center">
          您还未发布问题,
          <a th:href="@{/publish}">点击这里发布问题</a>
        </div>



      </div>

        <nav th:if="${page != null}">
          <ul class="pagination">
            <li class="page-item" th:if="${page.currentPage >= 3}">
              <a class="page-link iconfont page-icon" th:href="@{/(page=${1})}">&#xe74d;</a>
            </li>
            <li class="page-item" th:if="${page.currentPage >= 2}">
              <a class="page-link iconfont page-icon" th:href="@{/(page=${page.currentPage - 1})}">&#xe744;</a>
            </li>

            <li th:class="${count == 0 ? 'page-item active' : 'page-item'}"
                th:each="count : ${#numbers.sequence(-3, 3)}"
                th:if="${page.currentPage + count > 0 && page.currentPage + count <= page.totalPage}">
              <a class="page-link"
                 th:href="@{/(page=${page.currentPage + count})}"
                 th:text="${page.currentPage + count}">1</a>
            </li>


            <li class="page-item" th:if="${page.currentPage <= page.totalPage - 1}">
              <a class="page-link iconfont page-icon" th:href="@{/(page=${page.currentPage + 1})}">&#xe743;</a>
            </li>
            <li class="page-item" th:if="${page.currentPage <= page.totalPage - 2}">
              <a class="page-link iconfont page-icon" th:href="@{/(page=${page.totalPage})}">&#xe74c;</a>
            </li>
          </ul>
        </nav>

    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <div class="list-group section">
        <a href="/profile" class="active list-group-item">我的问题</a>
        <a href="#" class="list-group-item">
          最新回复
          <span class="badge">0</span>
        </a>
      </div>
    </div>
  </div>
</div>

</body>
</html>